# Environment variables / secrets
.env
.evn

# Python virtual environments
venv/
backend/venv/

# Python cache
__pycache__/
*.py[cod]

# ChromaDB local database
chroma_db/

# Uploaded files
uploads/

# OS files
.DS_Store

# IDE settings
.vscode/
.idea/

# Python logs
*.log

# Temporary files
*.tmp
*.temp
