# Environment variables / secrets
.env
.evn

# Python virtual environments
venv/
backend/venv/

# Python cache
__pycache__/
*.py[cod]

# Uploaded files
uploads/

# OS files
.DS_Store

# IDE settings
.vscode/
.idea/

# Python logs
*.log

# Frontend dependencies & build
node_modules/
frontend/node_modules/
frontend/dist/
dist/

# Temporary files
*.tmp
*.temp
